Flask==2.0.2                # To create the API
Flask-RESTful==0.3.9        # Another framework to create the API and turn things easier
Flask-SQLAlchemy==2.5.1     # To connect to the database
validate-docbr==1.10.0      # To validate the documents (CPF and CNPJ)